@import 'reset';
@import './themes/dark';
@import './themes/normal';
@import './themes/orange';
@import './variables/global';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-collor);
}

.app {
  background-color: var(--bg-collor);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-collor);
  border-radius: 20px;
  border: 2px solid var(--primary-collor);
}