.app_dark_theme {
  --bg-collor: #090949;
  --inverted-bg-collor: #e8e8ea;
  --primary-collor: #049604;
  --secondary-collor: #04ff04;
  --inverted-primary-collor: #0449e0;
  --inverted-secondary-collor: #0232c2;
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
  --code-bg: #1212a1;
}