:root {
  --bg-collor: #e8e8ea;
  --inverted-bg-collor: #090949;
  --primary-collor: #0232c2;
  --secondary-collor: #0449e0;
  --inverted-primary-collor: #04ff04;
  --inverted-secondary-collor: #049604;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}