.app_orange_theme {
  --bg-collor: #faf4fb;
  --inverted-bg-collor: #bd5012;
  --primary-collor: #9a1a0e;
  --secondary-collor: #d01f0e;
  --inverted-primary-collor: #dbd5dc;
  --inverted-secondary-collor: #faf4fb;
}