.navbar {
  width: 100%;
  height: car(--navbar-height);
  background: var(--inverted-bg-collor);
  display: flex;
  align-items: center;
  padding: calc((var(--navbar-height) - 24px) / 2);
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}