.AppLink {
  color: var(--primary-collor);

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.primary {
  color: var(--primary-collor);
}

.secondary {
  color: var(--inverted-secondary-collor);
}

.red {
  color: red;
}